.services h1 {
    font-size: 3rem;
    color: #008080;
  }
  
  .bento-grid {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
  }
  
  .bento-box {
    background-color: #222;
    padding: 60px;
    border-radius: 15px;
    width: 300px;
    text-align: center;
    transition: transform 0.3s, background-color 0.3s;
  }
  
  .bento-box:hover {
    transform: scale(1.05);
    background-color: #333;
  }
  
  .bento-box h2 {
    color: #40e0d0;
  }
  
  .bento-box p {
    font-size: 1.2rem;
    margin-top: 10px;
  }
  
  .fab {
    color: #40e0d0;
  }
  